:root {
    --foreground-color-primary: #ff5e23;
    
    --background-color-secondary: #FCFFF7;
    --background-color-primary: #21A0A0;
}

.App {
    background: var(--background-color-primary);
}

body {
    background: var(--background-color-primary);
    margin-bottom: 200px;
}

#home-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
}
#home-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}
#home-search input::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

#header-alt {
    display: none;
}

input[type='text'] {
    opacity: .65;
    transition: opacity 1s;
}

button {
    opacity: .65!important;
    transition: opacity 1s!important;
}

input[type='text']:hover, input[type='text']:focus, button:hover {
    opacity: 1!important;
}

label {
    user-select: none;
}


.card {
    margin-bottom: 3em;
}

#page-footer {
    margin-top: 3em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pop-search-btn {
    background-color: transparent !important;
    color: white;
}

.pop-search-btn :hover {
    background-color: transparent !important;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {
    #home-search {
        width: 75%!important;
    }
    #header-alt {
        display: block!important;
    }
    header p:not(:first-child) {
        display: none!important;
    }
    #flex-button {
        width: 100%!important;
    }

    #results-wrap, #button-wrap {
        width: 100%!important;
        margin-top: 2em;
    }
    div.card-title {
        padding: 0!important;
    }
    .card-title p.text-primary {
        width: 30%!important;
    }
    .card-title p.text-danger {
        width: 70%!important;
    }
    #window {
        width: 90vw!important;
        margin: 0 auto !important;
    }
    #popular-search-window {
        justify-content: center !important;
        padding: .75em !important;
    }
    #popular-search-window button {
        font-size: 1em !important;
        margin: .25em !important;
    }
}
